apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: devoxx-guestbook
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: devoxx-guestbook
    spec:
      containers:
      - image: eu.gcr.io/next-amsterdam/devoxx-guestbook:$DOCKER_IMAGE_TAG
        name: devoxx-guestbook
        ports:
        - containerPort: 8080
        env:
        - name: GUESTBOOK_JDBC_URL
          value: jdbc:mysql://104.155.75.143:3306/guestbook
